*{
    margin:0 auto;
}
.html{
    font-size: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1440px;
    margin:0 auto;
}
.page-title-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    padding:1rem 0rem;
    box-sizing: border-box;
    background-color: #0e49b5;
}
.page-title-container .page-title{
    width: 100%;
    color:white;
}
.create-todo{
    width: 100%;
    margin:0 auto;
    border:1px solid #d8d3cd;
    margin-bottom:10px;
}
.create-todo-title{
    width: 100%;
    background-color: #f1f1f1;
    padding: 1rem 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.create-todo-title h2{
    margin:0;
}
#create-input{
    padding:1rem 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}
#toDoName{
    width: 90%;
    height: 2.5rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border:1px solid #d8d3cd;
    padding-left: 1rem;
    outline:0;
    box-sizing: border-box;
}
input{
    margin:0;
    padding:0;
}
#create-input i{
    font-size: 42px;
    margin:0;
    color:#0e48b5c5;
    position: relative;
    bottom:2px;
    left:2px;
    transition: all 0.5s ease;
}
#create-input i:hover{
    color: #0e49b5;
    cursor: pointer;
}
#create-input button{
    width: 40px;
    height: 40px;
    margin:0;
    color:white;
    font-size: 2.2rem;
    padding: 0;
    background-color: #0e49b5;
    border:0;
}
#create-input button:focus{
    border:0;
}
#create-input button:hover{
    cursor: pointer;
}
#task-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:0;
}
.task-item{
    margin:0;
    display: flex;
    flex-direction: row;
    padding:1rem 1rem;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}
.task-item h4{
    margin:0;
    font-size: 1.2rem;
}
.task-item i{
    margin:0;
    font-size: 1.6rem;
    transition: all 0.5s ease;
}
.task-item i:hover{
    cursor:pointer;
    color:red;
}
.btnAllDelete{
    padding:0.5rem 1rem;
    color:red;
    text-decoration: none;
    border:1px solid red;
    border-radius:0.5rem;
    font-size: 1.2rem;
    margin:0;
    transition: all 0.5s ease;
}
.btnAllDelete:hover{
    background-color: red;
    color:white;
}
.uyari-container{
    margin:0;
}
#alert{
    margin:0;
    padding:0.5rem 2rem;
    width: 100%;
    font-size: 1.2rem;
    box-sizing: border-box;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    color:black;
}
.succes{
    background-color: #22bb3450;
    border:1px solid #22bb3450;
}
.info{
    background-color: #f0ac4e71;
    border:1px solid #f0ac4e71;
}
.danger{
    background-color:#bb212371;
    border:1px solid #bb212371;
}
